

body.page-template-bible article.page.gucu-custom-bibe ,
body.page-template-commentary article.page.gucu-custom-bibe{
    margin-top: 0px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    /*background-color: #f00;*/ 
    box-shadow: none;
    border-top: none;
}
body.page-template-bible  .content > .entry::after ,
body.page-template-commentary  .content > .entry::after{
    display: none;
}
body.page-template-bible  .content > .entry::before ,
body.page-template-commentary  .content > .entry::before{
    display: none;
}
body.page-template-bible article.page.gucu-custom-bibe div.container-cat ,
body.page-template-commentary article.page.gucu-custom-bibe div.container-cat{
    /*background-color: #0f0;*/
}
body.page-template-bible article.page.gucu-custom-bibe::before,
body.page-template-commentary article.page.gucu-custom-bibe::before{
    display: none;
}
body.page-template-bible article.page.gucu-custom-bibe::after,
body.page-template-commentary article.page.gucu-custom-bibe::after{
    display: none;
}
/************************ Grid *********************/
div.posts-numbers{
    /*border: 1px solid #eee9e3;*/
    margin-top: 10px;
    display: none;
    padding: 1px;
}
div.posts-numbers.open{
    display: block;
}
div.posts-numbers .grid{
    padding: 0;
    border: 1px solid #ccc;    
}
div.posts-numbers .grid h4{
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px 0;
    margin: 0 auto;
    border-bottom: 1px solid #ccc;
}
div.posts-numbers .grid h4 span{
    float: right;
    display: inline-block;
    padding: 0px 13px;
    cursor: pointer;
}
div.posts-numbers .grid .grid-content{
    padding: 0;
}
div.posts-numbers .grid .grid-content a{
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    /* border: 1px solid #ccc; */
    padding: 1rem;
    font-size: .875rem;
    color: rgba(0,0,0,0.5);
    text-align: center;
    display: inline-block;
    width: 50%;
}
div.posts-numbers .grid .grid-content a:hover{
    text-decoration: underline;
    background-color: #f5f5f5;
}
/************************ End Grid *****************/
p.content-chapters{
    margin-top: 20px;
    min-height: 200px;
}
p.content-chapters h4{
    color: #554948;
    font-family: ArialMT, "Helvetica Neue", Arial, "Liberation Sans", FreeSans, sans-serif;
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 3rem 0;
    text-align: center;
    text-transform: uppercase;   
}
body.page-template-bible article.page.gucu-custom-bibe a.parent-cat ,
body.page-template-commentary article.page.gucu-custom-bibe a.parent-cat{
    display: block;
    margin-bottom: 14px;
    border: none;
}
div.gucu-sub-child-cats {
    /*border: 1px solid #f00;*/
    width: 302px;
    margin: 0 auto;
}
div.gucu-sub-child-cats ul.slick-dots{
    display: none!important;
}
div.gucu-sub-child-cats .slick-prev, 
div.gucu-sub-child-cats .slick-next{
    top: 50%;
    width: 50px;
    height: 50px;
    border: 1px solid #f9f6f6;
    z-index: 2;
}
div.gucu-sub-child-cats .slick-prev{
    left: -15px;
}
div.gucu-sub-child-cats .slick-next{
    right: -9px;
}
div.gucu-sub-child-cats .slick-prev:before, 
div.gucu-sub-child-cats .slick-next:before{
    color: #333;
}
div.gucu-sub-child-cats div.gucu-thumb{
    
    margin: 4px 4px;
    padding: 10px 36px 0px 28px;
   
    background-size: auto;

    text-align: center;
}
div.gucu-sub-child-cats div.gucu-thumb img{
    margin: 0 auto;
    max-width: 40%;
}
div.gucu-sub-child-cats div.gucu-thumb:hover{

    cursor: pointer;

}
div.gucu-sub-child-cats div.gucu-thumb p.large-excerpt{
    display: none;
}
div.gucu-sub-child-cats div.gucu-thumb p{
    font-size: 14px;
    text-align: left;
    /* display: none; */
    text-align: left;
    color: #554948;
    font-family: Montserrat, sans-serif;
    text-align: left;
    padding-right: 5px;
    padding-left: 5px;
}
a.gucu-single-post{
    font-size: 22px;
    margin: 10px auto;
    display: inline-block;
    border: none;
}
span.readmore{
    color: #ce3a0d;
    text-decoration: none;
    /* border-bottom: 1px dotted; */
    display: block;
    width: 104px;
    padding: 0px;
    font-size: 16px   
}
span.readmore:hover{
    color: #000;
}
.gucu-loader{
    background-image: url(gucu-loader.gif);
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    /*border: 1px solid #f00;*/
    background-position: center center;
    background-size: contain;
    margin: 0 auto;
}

div.content-full-post img{
    max-width: 60%;
    margin: 10px auto;
    width: 30%;
    
    display: block;    
}
@media screen and ( min-width:802px){

div.gucu-sub-child-cats div.gucu-thumb{
    background-repeat: no-repeat;
    /* border: 1px solid #ccc; */
    margin: 4px 4px;
    padding: 10px 36px 0px 20px;    
    background-size: auto;
}    
    div.gucu-sub-child-cats div.gucu-thumb p.small-excerpt{
        display: none;
    }    
    div.gucu-sub-child-cats div.gucu-thumb p.large-excerpt{
        display: block;
    }    
    div.gucu-sub-child-cats div.gucu-thumb p{
        font-size: 14px;
        display: block;
    }   
    div.gucu-sub-child-cats {
        width: 600px;
    }    
    p.content-chapters h4{
     font-size: 48px;   
    }
    div.gucu-sub-child-cats div.gucu-thumb p{
        font-size: 18px;
    }  
    div.posts-numbers .grid .grid-content a{ 
        width: 33.3333%;
    }
}
@media screen and ( min-width:1022px){
    body.page-template-bible article.page.gucu-custom-bibe div.container-cat ,
    body.page-template-commentary article.page.gucu-custom-bibe div.container-cat{
        display: flex;
    }
    body.page-template-bible article.page.gucu-custom-bibe div.container-subcat,
    body.page-template-commentary article.page.gucu-custom-bibe div.container-subcat{    
        margin-right: 20px;
        width: 50%;
    }
    body.page-template-bible article.page.gucu-custom-bibe a.parent-cat ,
    body.page-template-commentary article.page.gucu-custom-bibe a.parent-cat{
        display: inline-block;

    }    
    p.content-chapters{
        /*        background-color: bisque;*/
        padding-top: 15px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 15px;
        font-size: 1rem;        
    }
    div.gucu-sub-child-cats .slick-prev{
        left: -60px;
    } 
    div.gucu-sub-child-cats .slick-next{
        right: -60px;
    }    
    a.gucu-single-post{
        font-size: 16px;
    }
    div.posts-numbers .grid .grid-content a{ 
        width: 20%;
    }
}
