

body.page-template-bible article.page.gucu-custom-bibe ,
body.page-template-commentary article.page.gucu-custom-bibe{
    margin-top: 0px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    /*background-color: #f00;*/ 
    box-shadow: none;
    border-top: none;
}
body.page-template-bible article.page.gucu-custom-bibe div.container-cat ,
body.page-template-commentary article.page.gucu-custom-bibe div.container-cat{
    /*background-color: #0f0;*/
}
body.page-template-bible article.page.gucu-custom-bibe::before,
body.page-template-commentary article.page.gucu-custom-bibe::before{
    display: none;
}
body.page-template-bible article.page.gucu-custom-bibe::after,
body.page-template-commentary article.page.gucu-custom-bibe::after{
    display: none;
}
p.content-chapters{
    margin-top: 20px;
}
body.page-template-bible article.page.gucu-custom-bibe a.parent-cat ,
body.page-template-commentary article.page.gucu-custom-bibe a.parent-cat{
    display: block;
    margin-bottom: 14px;
}

ul.gucu-sub-child-cats li.gucu-thumb{
    background-repeat: no-repeat;
    border: 1px solid #ccc;
    margin: 4px 4px;
    padding: 0px 0px 0px 160px;
    height: 120px;

    background-size: auto;
    opacity: .8;
}
ul.gucu-sub-child-cats li.gucu-thumb:hover{
    background-color: #fafafa;
    cursor: pointer;
    opacity: 1;
}
ul.gucu-sub-child-cats li.gucu-thumb p{
    font-size: 13px;
    text-align: left;  
    display: none;
}
a.gucu-single-post{
    font-size: 14px;
}
span.readmore{
    color: black;
    text-decoration: none;
    border-bottom: 1px dotted;
    display: block;
    width: 90px;
    padding: 0px;   
}
p.gucu-loader{
    background-image: url(gucu-loader.gif);
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;
    /* border: 1px solid #f00; */
    background-position: center center;
    background-size: auto;
}
@media screen and ( min-width:802px){

    ul.gucu-sub-child-cats li.gucu-thumb{
        height: 242px;
    }
    ul.gucu-sub-child-cats li.gucu-thumb p{
        font-size: 14px;
        display: block;
    }    
}
@media screen and ( min-width:1022px){
    body.page-template-bible article.page.gucu-custom-bibe div.container-cat ,
    body.page-template-commentary article.page.gucu-custom-bibe div.container-cat{
        display: flex;
    }
    body.page-template-bible article.page.gucu-custom-bibe div.container-subcat,
    body.page-template-commentary article.page.gucu-custom-bibe div.container-subcat{    
        margin-right: 20px;
        width: 50%;
    }
    body.page-template-bible article.page.gucu-custom-bibe a.parent-cat ,
    body.page-template-commentary article.page.gucu-custom-bibe a.parent-cat{
        display: inline-block;

    }    
    p.content-chapters{
        /*        background-color: bisque;*/
        padding-top: 15px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 15px;
        font-size: 1rem;        
    }
    a.gucu-single-post{
        font-size: 16px;
    }    

}
